/* GLOBAL RULES */
:root {
  --clr-primary: #10cab7;
  --clr-secondary: black;
  --clr-title: #ebeced;
  --clr-sous-title: rgb(121, 121, 121);
  --clr-paragraphe: rgba(68, 68, 68, 0.687);
  --clr-darkgreen: #2c4755;
}
body {
  font-family: "Work Sans", sans-serif;
}
body .container {
  margin: auto;
  padding: 0px 15px;
}
/* Small devices  */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
/* Medium devices  */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
/* Large devices  */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
/* Extra large devices  */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* END GLOBAL RULES */
/* NAVBAR */
.navbar .navbarelements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.navbar .navbarelements .links {
  position: relative;
}
.navbar .navbarelements .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.navbar .navbarelements .links:hover .icon span:nth-child(2) {
  width: 100%;
  transition: 0.3s ease-in-out;
}
.navbar .navbarelements .links .icon span {
  background-color: var(--clr-secondary);
  margin-bottom: 5px;
  height: 2px;
}
.navbar .navbarelements .links .icon span:first-child,
.navbar .navbarelements .links .icon span:last-child {
  width: 100%;
}
.navbar .navbarelements .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.5s ease-in-out;
}
.navbar .navbarelements .links ul {
  border: transparent;
  padding: 0px;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  line-height: 2;
  list-style: none;
  display: none;
}
.navbar .navbarelements .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.navbar .navbarelements .links:hover ul {
  display: block;
}
.navbar .navbarelements .links ul li a {
  display: block;
  color: black;
  font-weight: 400;
  padding: 10px;
  transition: 0.5s ease;
  text-decoration: none;
}
.navbar .navbarelements .links ul li:not(:last-child) {
  text-decoration: none;
  border-bottom: solid rgba(0, 0, 0, 0.237) 0.5px;
}
.navbar .navbarelements .links ul li a:hover {
  transform: translateX(15px);
  transition: 0.5s ease;
}
.navbar .navbarelements .links ul a:last-child {
  border-bottom: none;
}
/* END NAVBAR */
/* LANDING PAGE */
.landing-page {
  height: calc(100vh - 64px);
  background-image: url(/Assets/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.landing-page .container {
  text-align: center;
}
.landing-page .welcome-text {
  display: inline-block;
}
.landing-page .welcome-text h2 {
  color: var(--clr-primary);
  font-size: 50px;
  font-weight: 700;
  margin: 0px;
}
.landing-page .welcome-text p {
  color: var(--clr-secondary);
  font-size: 20px;
  line-height: 1.9;
}
/*END LANDING PAGE */
/* SECTION1 */
.section1 {
  background-color: #f6f6f6;
  padding: 60px 0px;
}
.section1 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.section1 .container .box {
  text-align: center;
  width: 280px;
}
.section1 .container .box i {
  color: var(--clr-primary);
}
.section1 .container .box p {
  font-weight: 800;
  margin: 30px 0px;
  font-size: 18px;
}
.section1 .container .box p:last-child {
  font-weight: 400;
  color: rgb(119, 119, 119);
  line-height: 1.8;
}
@media (max-width: 768px) {
  .section1 .container {
    justify-content: center;
  }
}
/*END SECTION1 */
/*SERVICE SECTION */
.service {
  background-color: white;
  padding-bottom: 50px;
}
.service h1 {
  text-align: center;
  color: var(--clr-title);
  font-size: 100px;
  position: relative;
}
.service .under-title {
  text-align: center;
  margin: 0px;
  transform: translateY(-98px);
  color: var(--clr-sous-title);
  font-size: 20px;
}
.service .services-content {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.service .services-content .col {
  flex: 1;
}
.service .services-content .col .srv {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  flex: 1;
  margin-bottom: 30px;
}
.service .services-content .col .srv h3 {
  margin-top: 0px;
}
.service .services-content .col .srv .text {
  height: 160px;
}
.service .services-content .col .srv .text p {
  line-height: 1.6;
  color: var(--clr-paragraphe);
}
.service .services-content .col .srv i {
  color: var(--clr-primary);
  font-weight: 200;
}
.service .services-content .col img {
  width: 260px;
}
.service .services-content .col .image {
  position: relative;
  text-align: center;
  z-index: 1;
}
.service .services-content .col .image:before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  height: calc(100% + 100px);
  width: 100px;
  background-color: var(--clr-darkgreen);
  z-index: -1;
}
@media (max-width: 1200px) {
  .service .services-content .col:last-child {
    display: none;
  }
}
@media (max-width: 768px) {
  .service .services-content {
    flex-direction: column;
    gap: 0px;
  }
  .service .services-content .col .srv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .service .services-content .col .srv .text {
    text-align: center;
    height: 100px;
  }
}
/*END SERVICE SECTION */
/*PORTFOLIO SECTION */
.portfolio {
  background-color: #f6f6f6;
  padding: 30px 0px;
}
.portfolio h1 {
  text-align: center;
  color: var(--clr-title);
  font-size: 100px;
  position: relative;
}
.portfolio .under-title {
  text-align: center;
  margin: 0px;
  transform: translateY(-98px);
  color: var(--clr-sous-title);
  font-size: 20px;
}
.portfolio .portfolio-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.portfolio .portfolio-content .card {
  background-color: white;
  width: 350px;
}
@media (max-width: 1200px) {
  .portfolio .portfolio-content .card {
    width: 455px;
  }
  .portfolio .portfolio-content {
    gap: 30px;
  }
}
@media (max-width: 992px) {
  .portfolio .portfolio-content .card {
    width: 345px;
  }
}
@media (max-width: 768px) {
  .portfolio .portfolio-content .card {
    width: 100%;
  }
}
.portfolio .portfolio-content .card img {
  max-width: 100%;
}
.portfolio .portfolio-content .card .info {
  padding: 0px 20px;
}
.portfolio .portfolio-content .card .info p {
  line-height: 1.6;
  color: var(--clr-paragraphe);
}
/*END PORTFOLIO SECTION */
/*ABOUT SECTION */
.about {
  background-color: white;
  padding: 30px 0px 100px 0px;
}
.about h1 {
  text-align: center;
  color: var(--clr-title);
  font-size: 100px;
  position: relative;
}
.about .under-title {
  text-align: center;
  margin: 0px;
  transform: translateY(-98px);
  color: var(--clr-sous-title);
  font-size: 20px;
}

.about .about-content .image {
  position: relative;
  z-index: 0;
  width: 250px;
  height: 375px;
}
.about .about-content .image img {
  max-width: 100%;
}
.about .about-content .image:before {
  content: "";
  position: absolute;
  top: -40px;
  left: -20px;
  height: calc(100% + 80px);
  width: 100px;
  background-color: rgb(234, 236, 236);
  z-index: -1;
}
.about .about-content .image:after {
  content: "";
  position: absolute;
  top: -40px;
  right: -150px;
  height: 300px;
  width: 120px;
  border-left: solid var(--clr-primary) 80px;
  border-bottom: solid var(--clr-primary) 80px;
  z-index: -1;
}
.about .about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .about-content .text {
  flex-basis: 55%;
}
.about .about-content .text p:first-child {
  margin: 16px 0px 50px 0px;
  line-height: 1.8;
  font-weight: bold;
}
.about .about-content .text p:last-child {
  margin: 16px 0px;
  line-height: 1.8;
  color: var(--clr-paragraphe);
}
.about .about-content .text hr {
  border-color: var(--clr-primary);
  width: 50%;
  display: inline-block;
}
@media (max-width: 992px) {
  .about .about-content .image:after,
  .about .about-content .image:before {
    display: none;
  }
  .about .about-content {
    flex-direction: column;
    gap: 50px;
  }
  .about .about-content .text {
    text-align: center;
  }
}
/*END ABOUT SECTION */
/* CONTACT SECTION*/
.contact {
  background-color: #f6f6f6;
  padding: 20px 0px 50px 0px;
}
.contact h1 {
  text-align: center;
  color: var(--clr-title);
  font-size: 100px;
  position: relative;
  margin: 30px 0px;
}
.contact .under-title {
  text-align: center;
  margin: 0px;
  transform: translateY(-58px);
  color: var(--clr-sous-title);
  font-size: 20px;
}
.contact h2 {
  text-align: center;
  color: var(--clr-darkgreen);
  margin: 35px 0px 15px 0px;
  font-size: 35px;
  font-weight: 800;
}
.contact a {
  display: block;
  color: var(--clr-primary);
  text-decoration: none;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
}
.contact p {
  text-align: center;
  margin-top: 20px;
}
.contact p i {
  color: #2d4655;
}
/* END CONTACT SECTION*/
/* FOOTER SECTION*/
footer {
  background-color: #2d4655;
  padding: 30px 0px 10px 0px;
}
footer p {
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
footer p:first-child {
  margin: 0px 0px 10px 0px;
}
footer p:first-child span {
  color: var(--clr-primary);
}
footer p a {
  text-decoration: none;
  color: var(--clr-primary);
}
